@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-brand-red: #E81C24;
  --color-brand-text: #3A3533;
  --color-brand-border: #C9C5B9;
}

html,
body,
#root {
  margin: 0;
  min-height: 100%;
}

body {
  font-family: "Roboto Slab", serif;
}
